/*Overall outline and styling*/
html{
    height: 87%;   
}

.header a{
    text-decoration: none;
    font-size: 13px;
    opacity: 0.75;
    color: black;
    padding-top: 20px;
}

body{
    font-family: arial, sans-serif;
    height: 100%;   
}

main{
    display: flex;
    min-height: 90%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer a{
    font-size: 14px;
    color: #5f6368;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
}


/*Top nav*/

#Ltop{
    float: left;
    padding-left: 15px;
}

.about, .store{
    padding: 5px;
}

#Rtop{
    float: right;
    padding-right: 15px;
}

.gmail, .images{
    padding: 5px;
    
}

.apps{ 
    opacity: 0.75;
    vertical-align: middle;
    padding-right: 10px;
}

.profile{
    background-color: blue;
    border: solid 5px blue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
}

.about:hover, .store:hover, .gmail:hover, .images:hover{
    text-decoration: underline;
}



/*Bottom nav*/

#Lbottom{
    float: left;
    padding-left: 15px;
}

#Rbottom{
    float: right;
    padding-right: 15px;
}

.australia{
    padding-left: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 1px #e7e1e1;
    border-bottom: solid 1px #e7e1e1;
}

.advertising, .business, .HSworks{
    padding: 12px;
}

.privacy, .terms, .settings{
    padding: 12px;
}

.australia:hover, .advertising:hover, .business:hover,  .HSworks:hover, .privacy:hover, .terms:hover, .settings:hover{
    text-decoration: underline;
    color: #5f6368;
}

/*Search area styling*/


.SearchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.srch{
    display: grid;
    border-radius: 40px;
    border: solid 1px #dad4d4;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150%;
    grid-template-columns: repeat(10, 24px);
    align-items: center;
}

.srchicon{
    grid-column: 1/1;
    opacity: 0.3;
    font-size: 14px;
}

.searchbar{
    grid-column: 2/10;
    width: 200%;
    border: none;
}

.UnderBar{
    font-size: 14px;
    color: #5f6368;
}

.search, .lucky{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
}

.search:hover, .lucky:hover{
    color: #222;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
}
